@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root{
  --bg-color: #c1c8c4;
  --text-font-color: #0d2a26;
  --code-font-color: #1d1d1d;
  --text-area-bg: #eceeee;
  --accent-color: #1d1d1d;  
}
[data-theme="light"]{
  --bg-color: #c1c8c4;
  --text-font-color: #0d2a26;
  --code-font-color: #1d1d1d;
  --text-area-bg: #eceeee;
  --accent-color: #bddbcb;
}

[data-theme="dark"]{
  --bg-color: #102525;
  --text-font-color: #fcfcfc;
  --code-font-color: #c4fcd0;
  --text-area-bg: #092635;
  --accent-color: #3c3f3d;
}
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-font-color);
}

#main{
  margin: 1rem;
  margin-bottom: 0%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.App {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.wrapper {
  width: 45%;
  height: 70vh;
  margin: 25px;
  margin-top: 0%;
  outline: none;
  display: flex;
  padding: 20px;
  background: var(--text-area-bg);
  flex-direction: column;
  border: 2px solid var(--text-font-color);
  overflow: hidden;
  overflow-y: auto;
  border-radius: 2.5%;
}

.head {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  font-size: 15px;
}

textarea {
  padding: 15px;
  border: none;
  outline: none !important;
  width: 96%;
  height: 100%;
  overflow-x: hidden;
  font-size: 17px;
  resize: none;
  background: var(--text-area-bg);
  color: var(--text-font-color);
}

.markdown {
  padding: 15px;
  border: none;
  outline: none !important;
  width: 96%;
  height: 100%;
  resize: none;
  overflow-x: hidden;
  background: var(--text-area-bg);
  color: var(--code-font-color);
}

#switch{
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* .switch_label svg:last-child{
  display: none;
} */

[data-theme="light"] #switch svg:first-child{
  display: none;
}
/* #switch svg:first-child{
  display: none;
} */
[data-theme="dark"] #switch svg:last-child{
  display: none;
}